<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kerala_Forest_Dept.Properties.Settings.KFD_DBConnectionString"
            connectionString="Data Source=|DataDirectory|\KFD_DB.sdf;Password=86130002"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>